.dimogh {
    border-style: dashed;
    width: 32%;
    margin: 7%;
	padding:1% 2%;
}
.dimogh p {
    margin: 5%;
    font-size: 18px;
}
.stanogh {
    border-style: dashed;
    width: 32%;
    margin: 7% 7% 7% 56%;
    padding: 4% 1% 4% 4%; 
}
.stanogh p {
    margin: 1%;
    font-size:18px;
}
.content {
    margin: auto;
    width: 60%;
    height: 60%;
    border: 12px solid transparent;
    padding: 15px;   
    border-image: url(./images/border.png);
    border-image-slice: 9;
    border-image-repeat:round;
}
div.dimogh > img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -1.6%;
    margin-left: -2%;
	background-color: white;
}
div.stanogh > img {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -3.3%;
    margin-left: -3%;
	background-color: white;
}
.selects {
	float: right;
}   
.selects select {
	width: 100%;
	background-color: wheat;
	height: 29px;
	border-radius: 6px;
}
.selects select option {
	font-size: 18px;
}
option p:hover {
	font-size: 24px;
}
.selection select {
	width: 13%;
	margin-top: 20%;
	height: 30px; 
	border-radius: 7%;
}
.selection select option {
	font-size: 20px;
}

.selection select option:hover {
	font-size: 30px;
}
