.dimogh {
    border-style: dashed;
	border-width: 2px;
    width: 32%;
    margin: 7%;
	padding:1% 2%;
}
.dimogh p {
    margin: 5%;
    font-size: 12px;
}
.stanogh {
    border-style: dashed;
	border-width: 2px;
    width: 32%;
    margin: 7% 7% 7% 56%;
    padding: 4% 1% 4% 4%; 
}
.stanogh p {
    margin: 1%;
    font-size: 12px;
}
.content {
    margin: auto;
    width: 60%;
    height: 60%;
    border: 12px solid transparent;
    padding: 15px;   
    border-image: url(./images/border.png);
    border-image-slice: 9;
    border-image-repeat:round;
}
div.dimogh > img {
    position: absolute;
    width: 22px;
    height: 22px;
    margin-top: -1.6%;
    margin-left: -2%;
	background-color: white;
}
div.stanogh > img {
    position: absolute;
    width: 22px;
    height: 22px;
    margin-top: -3.3%;
    margin-left: -3%;
	background-color: white;
}
.selects {
	float: right;
}   
.selects select {
	width: 100%;
	background-color: wheat;
	height: 29px;
	border-radius: 6px;
}
.selects select option {
	font-size: 18px;
}
a {
	text-decoration: none;
}
li  {
	display: block;
	margin:4%;
	width: 100%;
}
li:hover {
	background-color: #ccc;
;}
ul {
	border: solid 1px #ccc;
	width: 13%;
	padding: 0.5%;
	margin: 0;
	box-shadow: 0 6px 12px  #ccc;
}
button { 
	width: 14.3%;
	margin-top: 13%;
	margin-bottom: 0.2%;
	height: 34px;
}
button:hover {
	background-color:  #ccc;
}
img {
	width: 1%;
	margin-left: -2%;
	margin-top: 1%;
}
